<!DOCTYPE html>
<head>
<title>Todo App</title>
<link rel="stylesheet" href="/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

        <script type="text/javascript">

function myFunction(myDIV) {
  var x = document.getElementById(myDIV);
  
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  var y=document.getElementById('e'+myDIV);
    if (y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}

        function EnableDisable(txtPassportNumber) {
        //Reference the Button.
        var btnSubmit = document.getElementById("btnSubmit");
 
        //Verify the TextBox value.
        if (txtPassportNumber.value.trim() != "") {
            //Enable the TextBox when TextBox has value.
            btnSubmit.disabled = false;
        } else {
            //Disable the TextBox when TextBox is empty.
            btnSubmit.disabled = true;
        }
    };
</script>

<div class="todo-container">
<h2>To-Do List</h2>
<div class="todo">
<form action="/add" method="POST" class="todo-header">
<input type="text" id="txtPassportNumber" name="content" onkeyup="EnableDisable(this)">
<button type="submit" id="btnSubmit"  disabled="disabled"><span class="fas fa-plus"></span></button>
</form>
{{#each result}}
<ul class="todo-list">
<li id="{{_id}}" class="todo-list-item">
<div  class="todo-list-item-name">{{content}}</div>
<a onclick="myFunction('{{_id}}')" class="edit">
<span class="fas fa-edit"></span>
</a>
<a href="/del/{{_id}}" class="remove">
<span class="fas fa-times"></span>
</a>
</li>
<li id="e{{_id}}" style="display: none;" class="todo-list-item">
<form action="/edt/{{_id}}" method="POST">
<input type="text" value="{{content}}" name="content">
<button type="submit">Confirm</button>
<a href="/" class="cancel">Cancel</a>
</form>
</li>
</ul>
{{/each}}
</div>
</div>
</body>